<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iss.medipal">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:name=".MediPalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
 
        <activity
            android:name=".ui.activities.IceActivity"
            android:label="Emergency Contacts"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activities.Add_ICE"></activity>

        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.UserProfileActivity" />
        <activity android:name=".ui.activities.AppointmentActivity" />
        <activity android:name=".ui.activities.BloodPressureActivity" />
        <activity android:name=".ui.activities.MeasurementActivity" />
        <activity android:name=".ui.activities.AddBpActivity"/>
		<receiver android:name=".receivers.AlarmReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
       </receiver>
    </application> 



</manifest>